@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", serif;
}

html {
    scroll-behavior: smooth;
    /* height: 100vh; */
    
}

body {
    background-color: #57ebeb52;
    position: relative;
    transition: background-color 300ms ease;
}


.banner1 {
    position: fixed;
    width: 20%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: .1;
    filter: grayscale(1);
}

.banner2 {
    position: fixed;
    width: 20%;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: .1;
    filter: grayscale(1);

}

input:focus{
    outline: none;
}



h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p,
li {
    font-size: 20px;
    font-weight: 500;
}



a {
    text-decoration: none;
    cursor: pointer;
}

button .share__label {
    cursor: pointer;
}

button {
    cursor: pointer;
    background-color: #3646acda;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 12px #050b4183;
    transition: background-color 150ms ease, box-shadow 50ms ease;
}

button:hover {
    background-color: #2a3aa8da;
}

button:hover:active {
    transform: translateY(1px);
    box-shadow: none;
}

.chosen-color {
   color: #1329b4;
}

.row {
    width: 100%;
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: #252347;
    height: 3px;
    bottom: -3px;
    right: 0;
    width: 0%;
    transition: all 300ms ease;
}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%;
}

/*

NAVIGATION

*/

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    margin: 0 auto;
    background-color: #6073eeda;
    border-radius: 0 0 8px 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 8px 24px #1a2042da;
    z-index: 5;
    transition: background-color 300ms ease;
    /* background-color: rgb(90, 95, 128); */
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 12px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    transition: color 300ms ease;
}

.fa-moon {
    transition: animation 150ms ease; 
    transition: color 300ms ease;
}
.fa-moon:hover {
    transform: rotate(15deg);
    animation: wiggle 500ms linear 3;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}


/*

HEADER

*/


.header__container {
    padding-top: 60px;
    padding-bottom: 96px;

}

.header__row {
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.header__img--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.header__img--cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, #252347 43%, #3f3a3aa2 75%, #322d4b38 ) ;
    z-index: 6;
}

.personal__logo-img--wrapper {
    background-color: #dde0f3da;
    padding: 8px;
    margin: 0 12px;
    border-radius: 50%;
}

.personal__logo-img {
    height: 44px;
    width: 48px;
    transform: scale(1.1), translateY(8px);

    filter: grayscale(0.8);
}


.header__info {
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: rgb(224, 147, 147);
    padding: 52px 72px;
    border-radius: 40px;
    box-shadow: 0 12px 24px;
    margin: 0 auto;
    max-width: 1080px;
    max-height: 555px;
    min-height: 555px;

}

.header__content,
.header__img {
    width: 50%;
}


.header__content {
    /* position: relative; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.site__title--wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.header__title {
    margin-left: 8px;
    transition: color 300ms ease;
}

.search {
    width: 100%;
    display: flex;
}

.search-box {
    font-size: 20px;
    width: 100%;
    padding: 12px;
    max-width: 500px;
    height: 60px;
    border: none;
    border-radius: 12px;
    transition: background-color 300ms ease;

}

.search-box::placeholder {
    transition: color 300ms ease;
}

.search__btn {
    margin-left: 12px;
    padding: 16px;
    border-radius: 12px;
    transition: all 300ms ease;

}

.header__para {
    padding: 12px 0;
    color: white;
    line-height: 2;
    font-weight: 500;
    max-height: 414px;
    overflow: hidden;
    transition: color 300ms ease;
}

.header__img {
    width: auto;
    min-height: 555px;
}

.header__btn {
    display: flex;
    margin-top: 28px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: 700;
    letter-spacing: .07em;
}

.header__btns {
    padding: 20px 36px;
    transition: all 300ms ease;
}

.fa-arrow-right {
    color: #3646acda;
    transition: color 300ms ease;
}
.icon__border {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 40px;
    transition: background-color 300ms ease;
}


/* yarp */

.whole__body {
    background-color: #c8c5fc69;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 300ms ease;
}


/*

SHARE BOX 

*/

.share__container {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.share__text {
    font-size: 20px;
    font-weight: 500;
    margin-right: 12px;
    transition: color 300ms ease;
}

.share__btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* min-width: 750px; */
}

.share__btn {
    padding: 8px 24px;
    margin: 8px 4px;
    font-size: 16px;
    transition: all 300ms ease, transform 100ms ease;

}

.share__btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px #050b4183;

}

.share__label {
    margin-left: 20px;
    font-weight: 700;
}

.share__btn--lnkdn {
    background-color: #0a66c2;
}
.share__btn--X {
    background-color: #000000;
}
.share__btn--meta {
    background-color: #4768b5;
}
.share__btn--reddit {
    background-color: #f34700;
}
.share__btn--generic {
    background-color: #9dcf2a;
}


.share__btn--lnkdn:hover {
    background-color: #0a66c2e8;
}
.share__btn--X:hover {
    background-color: #000000da;
}
.share__btn--meta:hover {
    background-color: #4768b5de;
}
.share__btn--reddit:hover {
    background-color: #f34900e0;
}
.share__btn--generic:hover {
    background-color: #9ecf2ae1;
}

/*

PAGE BODY

*/



.body__container {
    display: flex;
    padding-bottom: 20px;
}

.body__posts {
    padding: 48px 4px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.posts__title {
    margin-bottom: 28px;
}

.post {
    background-color: #a7b5e059;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.post__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.post__tag {
    margin-right: 20px;
}

.post__info-1 {
    color: #3a3a3d;
}

.post__info-1,
.post__comment--count {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.post__count {
    margin-left: 4px;
}

.post__title {
    margin: 4px 0;
    font-size: 22px;
}

.post__para {
    margin: 4px 0;
    color: #3a3a3d;
    font-size: 16px;
}

.post__user--info {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.post__user--profile-img {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;
}
.post__user--profile-img {
    width: 40px;
    height: 40px;
    
}

.post__username {
    font-weight: 500;
    color: #3a3a3d;
    transition: all 300ms ease;
}

.post__username:hover {
    color: #1329b4;
}


.body__description {
    padding: 32px;
    width: 60%;

}

.body__title,
.body__para,
.body__details,
.body__list-item,
.posts__title,
.post__info-1,
.post__title,
.post__comment--count,
.post__para,
.footer__row {
    transition: color 300ms ease;
}


.body__title,
.body__details {
    margin: 16px 0;
}



.body__para,
.body__list-item {
    margin-bottom: 8px;
}

.post__more {
    color: #000000;
    margin-top: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #a7b5e059;
}

.post__more:hover {
    background-color: #a7b5e42f;
}


/*

FOOTER

*/

footer {
    overflow: hidden;
}

.footer__container {
    padding: 60px 0;
}

.footer__row {
    display: flex;
    justify-content: center;
}

/*

DARK THEME

*/

.dark-theme { 
    background-color: #231041de;
}
.dark-theme nav {
    background-color: #162791da;
}

.dark-theme .nav__link,
.dark-theme .body__title,
.dark-theme .body__para,
.dark-theme .body__details,
.dark-theme .posts__title,
.dark-theme .body__list-item,
.dark-theme .post__title,
.dark-theme .post__more,
.dark-theme .footer__row {
    color: #fff;
}


.dark-theme .share__text,
.dark-theme .post__info-1,
.dark-theme .post__comment--count,
.dark-theme .post__para,
.dark-theme .post__username {
    color: #dfdfdf;
}

.dark-theme .link__hover-effect:after {
    background-color: #fff;
}
.dark-theme .header__img--cover {
    background-image: linear-gradient(to right, #756fc4 43%, #554deba2 75%, #554deb38);;
}
.dark-theme 
.dark-theme .site__title--wrapper,
.dark-theme .header__title,
.dark-theme .search__btn,
.dark-theme .header__para,
.dark-theme .header__btn {
    color: #000000;
}

.dark-theme .search__btn,
.dark-theme .header__btns {
    background-color: #6f80f3fa;
} 

.dark-theme .icon__border {
    background-color: #000000;
}

.dark-theme .fa-arrow-right {
    color: #b4beffda;
}

.dark-theme .search-box {
    background-color: #9696a78c;
}

.dark-theme .search-box::placeholder {
    color: #cecece;
}

.dark-theme .whole__body {
    background-color: #0d0a429c;
}

.dark-theme .post {
    background-color: #2a3a697a;
}

.dark-theme .chosen-color,
.dark-theme .post__username:hover {
    color: #0a66c2;
}







