@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", serif;
}

html {
    scroll-behavior: smooth;
    /* height: 100vh; */
    
}

body {
    background-color: #57ebeb52;
    position: relative;
    transition: background-color 300ms ease;
}

.banner1 {
    position: fixed;
    width: 20%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: .1;
    filter: grayscale(1);
}

.banner2 {
    position: fixed;
    width: 20%;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: .1;
    filter: grayscale(1);
    
}

input:focus{
    outline: none;
}



h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p,
li {
    font-size: 20px;
    font-weight: 500;
}



a {
    text-decoration: none;
    cursor: pointer;
}

button .share__label {
    cursor: not-allowed;
}

button {
    cursor: pointer;
    background-color: #3646acda;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 12px #050b4183;
    transition: background-color 150ms ease, box-shadow 50ms ease;
}

button:hover {
    background-color: #2a3aa8da;
}

button:hover:active {
    transform: translateY(1px);
    box-shadow: none;
}

.chosen-color {
    color: #1329b4;
}


.clickable {
    cursor: pointer;
}
.row {
    width: 100%;
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: #252347;
    height: 3px;
    bottom: -3px;
    right: 0;
    width: 0%;
    transition: all 300ms ease;
}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%;
}

.nope {
    cursor: not-allowed;
}

/*

NAVIGATION

*/

.nav1, .nav2 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #6073eeda;
    border-radius: 0 0 8px 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 8px 24px #1a2042da;
    z-index: 5;
    transition: background-color 300ms ease;
    /* background-color: rgb(90, 95, 128); */
}

.nav1 {
    padding: 20px 24px;
    justify-content: center;
}
.nav2 {
    padding: 8px;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    justify-content: space-between;
}

.nav__link,
.nav__link2 {
    padding: 0 12px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    transition: color 300ms ease;
}

.fa-moon,
.fa-sun {
    transition: 
    color 300ms ease,
    transform 300ms ease;
    animation:
    wiggle 1750ms linear infinite;
}

.fa-moon:hover:active,
.fa-sun:hover:active {
    animation:
    eight-trigrams-sixty-four-palms 150ms linear 1, 
}





@keyframes eight-trigrams-sixty-four-palms {
    0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
}


@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }

}


/*

HEADER

*/


.header__container {
    padding-top: 60px;
    padding-bottom: 96px;

}

.header__row {
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}

.header__img--wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    /* display: flex; */
}

.header__img--cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, #252347 43%, #3f3a3aa2 75%, #322d4b38 ) ;
    z-index: 6;
}

.personal__logo-img--wrapper {
    background-color: #dde0f3da;
    padding: 8px;
    margin: 0 12px;
    border-radius: 50%;
}

.personal__logo-img {
    height: 60px;
    width: 60px;
    transform: scale(1.1), translateY(8px);

    filter: grayscale(0.8);
}


.header__info {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 52px 72px;
    border-radius: 40px;
    box-shadow: 0 12px 24px;
    margin: 0 auto;
    max-width: 1080px;
    max-height: 555px;
    min-height: 555px;

}

.header__content,
.header__img {
    width: 50%;
}


.header__content {
    /* position: relative; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title--wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.header__title {
    margin-left: 8px;
    transition: color 300ms ease;
}

.search {
    width: 100%;
    display: flex;
}

.search-bar,
.search-bar2 {
    width: 100%;
    border: none;
    transition: background-color 300ms ease;
}

.search-bar {
    max-width: 500px;
    border-radius: 12px;
    font-size: 20px;
    padding: 12px;
    height: 60px;
    
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar2 {
border-radius: 4px;
padding: 4px;
min-width: 240px;



}

.search-bar::placeholder {
    transition: color 300ms ease;
}

.search__btn {
    margin-left: 12px;
    padding: 16px;
    border-radius: 12px;
    transition: all 300ms ease;

}

.search__clicks {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.search__btn--click {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
}

.search__btn--filter {
    font-size: 12px;
    background-color: black;
    padding: 0 4px;
    height: 20px;
    border-radius: 4px;
    margin-right: 4px;
}

.header__para {
    padding: 12px 0;
    color: white;
    line-height: 2;
    font-weight: 500;
    max-height: 414px;
    overflow: hidden;
    transition: color 300ms ease;
}

.header__img {
    width: auto;
    min-height: 555px;
}

.header__btn {
    display: flex;
    margin-top: 28px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: 700;
    letter-spacing: .07em;
}

.header__btns {
    padding: 20px 36px;
    transition: all 300ms ease;
}

.fa-arrow-right {
    color: #3646acda;
    transition: color 300ms ease;
}
.icon__border {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 40px;
    transition: background-color 300ms ease;
}


/* yarp */

.whole__body {
    background-color: #c8c5fc69;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 300ms ease;
}


/*

SHARE BOX 

*/

.share__container {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.share__text {
    font-size: 20px;
    font-weight: 500;
    margin-right: 12px;
    transition: color 300ms ease;
}

.share__btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* min-width: 750px; */
}

.share__btn {
    padding: 8px 24px;
    margin: 8px 4px;
    font-size: 16px;
    transition: all 300ms ease, transform 100ms ease;

}

.share__btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px #050b4183;

}

.share__label {
    margin-left: 20px;
    font-weight: 700;
}

.share__btn--discord {
    background-color: #5865f2;
}

.share__btn--lnkdn {
    background-color: #0a66c2;
}
.share__btn--X {
    background-color: #000000;
}
.share__btn--meta {
    background-color: #4768b5;
}
.share__btn--reddit {
    background-color: #f34700;
}
.share__btn--generic {
    background-color: #9dcf2a;
}


.share__btn--lnkdn:hover {
    background-color: #0a66c2e8;
}
.share__btn--X:hover {
    background-color: #000000da;
}
.share__btn--meta:hover {
    background-color: #4768b5de;
}
.share__btn--reddit:hover {
    background-color: #f34900e0;
}
.share__btn--generic:hover {
    background-color: #9ecf2ae1;
}

/*

PAGE BODY

*/



.body__container {
    display: flex;
    padding-bottom: 20px;
}

.body__posts {
    padding: 48px 4px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.posts__title {
    margin-bottom: 28px;
}

.post {
    background-color: #b1c0ed91;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.post__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.post__tag {
    margin-right: 20px;
}

.post__info-1 {
    color: #3a3a3d;
}

.post__info-1,
.post__comment--count {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.post__count {
    margin-left: 4px;
}

.post__title {
    margin: 4px 0;
    font-size: 22px;
}

.post__para {
    margin: 4px 0;
    color: #3a3a3d;
    font-size: 16px;
}

.post__user--info {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.post__user--profile-img {
    overflow: hidden;
    border-radius: 50%;
    margin-right: 12px;
}
.post__user--profile-img {
    width: 40px;
    height: 40px;
    
}

.post__username {
    font-weight: 500;
    color: #3a3a3d;
    transition: all 300ms ease;
}

.post__username:hover {
    color: #1329b4;
}


.body__description {
    padding: 32px;
    width: 60%;

}

.body__title,
.body__para,
.body__details,
.body__list-item,
.posts__title,
.post__info-1,
.post__title,
.post__comment--count,
.post__para,
.footer__row {
    transition: color 300ms ease;
}


.body__title,
.body__details {
    margin: 16px 0;
}



.body__para,
.body__list-item {
    margin-bottom: 8px;
}

.post__more {
    color: #000000;
    margin-top: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #a7b5e059;
}

.post__more:hover {
    background-color: #a7b5e42f;
}


/*

FOOTER

*/

footer {
    overflow: hidden;
}

.footer__container {
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer__row {
    display: flex;
    justify-content: center;
}



/*

DARK THEME

*/

.dark-theme { 
    background-color: #231041de;
}
.dark-theme nav {
    background-color: #162791da;
}

.dark-theme .nav__link,
.dark-theme .body__title,
.dark-theme .body__para,
.dark-theme .body__details,
.dark-theme .posts__title,
.dark-theme .body__list-item,
.dark-theme .post__title,
.dark-theme .post__more,
.dark-theme .footer__row {
    color: #fff;
}


.dark-theme .share__text,
.dark-theme .post__info-1,
.dark-theme .post__comment--count,
.dark-theme .post__para,
.dark-theme .post__username {
    color: #dfdfdf;
}

.dark-theme .link__hover-effect:after {
    background-color: #fff;
}
.dark-theme .header__img--cover {
    background-image: linear-gradient(to right, #393392 43%, #3e38b177 75%, #2b259752);;
}
.dark-theme 
.dark-theme .site__title--wrapper,
.dark-theme .search__btn,
.dark-theme .header__btn {
    color: #000000;
}

.dark-theme .search__btn,
.dark-theme .header__btns {
    background-color: #7648c0c7;
} 

.dark-theme .icon__border {
    background-color: #000000;
}

.dark-theme .fa-arrow-right {
    color: #b4beffda;
}

.dark-theme .search-bar {
    background-color: #d8d8d8e0;
}

.dark-theme .search-bar::placeholder {
    color: #5c5959;
}

.dark-theme .whole__body {
    background-color: #0d0a429c;
}

.dark-theme .post {
    background-color: #2a3a697a;
}

.dark-theme .chosen-color,
.dark-theme .post__username:hover {
    color: #0a66c2;
}


@media (max-width: 1024px) {
    .nav__link {
        font-size: 16px;
    }
   
   
    .header__info {
        max-height: 400px;
        min-height: 400px;
        padding: 36px 52px;
    }
    .header__img {
        max-height: 400px;
        min-height: 100%;
    }

    .personal__logo-img {
        height: 44px;
        width: 48px;
    }

    .header__title {
        font-size: 32px;
    }

    .search-bar {
        height: 48px; 
        font-size: 16px;       
    }
    .search__btn {
        font-size: 16px;
        padding: 8px 16px;
        margin-left: 8px;
    }

    .header__btns {
        padding: 12px 28px;
        font-size: 20px;
        font-weight: 600;
    }

    .header__para {
        font-size: 16px;
    }

    .icon__border {
        padding: 1px 3px;
        margin-left: 20px;
    }

    .share__btn {
        padding: 8px 12px;
        font-size: 12px;
    }

    .share__label {
        margin-left: 8px;
    }

    .body__title,
    .posts__title {
        font-size: 24px;
        margin: 12px 0;
    }
    .body__para,
    .body__list-item {
        font-size: 16px;
    }
    .body__details {
        font-size: 20px;
    }

    .post {
        padding: 16px;
    }

    .post__info-1,
    .post__comment--count,
    .post__para {
        font-size: 12px;
    }
    .post__tag {
        margin-right: 8px;
    }
    .post__title {
        font-size: 18px;
    }

    .post__more  {
        margin-top: 12px;
        padding: 4px 0;
        font-size: 16px;
    }
    .post__user--profile-img {
        width: 24px;
        height: 24px;
        margin-right: 4px;
    }
    .post__username {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    
    .nav__link {
        padding: 0 8px;
    }
    
    .header__row {
        padding: 0 40px;
    }
    .header__content {
        width: 100%;
    }

    .header__img--cover {
        background-image: linear-gradient(to right, #252347f6 20%, #3f3a3aa2 75%, #322d4b38 ) ;
    }
    .dark-theme .header__img--cover {
        background-image: linear-gradient(to right, #393392fa 20%, #3e38b1a2 75%, #2b259752);;
    }

    .search-bar{
        height: 40px;
    }

    .header__btns {
        font-size: 16px;
    }
    .row {
        padding: 0 72px;
    }
    .body__container {
        flex-direction: column;
    }
    .body__description {
        padding: 20px;
        width: 100%;
    }
    .body__posts {
        padding: 24px 0;
        padding-bottom: 4px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .post {
        margin-bottom: 12px;
    }

    .post__more {
        width: 100%;
        padding: 12px 0;
    }


    .footer__row {
        font-size: 12px;
        padding: 12px 0;
    }

}

@media (max-width: 640px) {
    .nav__link {
        font-size: 12px;
    }

    .header__info {
        min-height: 300px;
    }

    .link__hover-effect:after {
        height: 2px;

    }


    .search-bar {
        height: 36px;
        font-size: 16px;
    }


    .header__para {
        font-size: 12px;
    }

    .header__btns {
        font-size: 12px;
    }

    .icon__border .fa-arrow-right {
        padding: 2px 1px;
        font-size: 12px;
    }

    .share__text {
        font-size: 16px;
    }

    .share__btn {
        font-size: 12px;
        padding: 4px 8px;
    }
    .share__label {
        font-weight: 560;

    }
}


@media (max-width: 580px) {
    .link__drop {
        display: none;
    }

    .nav__link {
        font-size: 16px;
        padding: 0 16px;
    }

    .header__img {
        max-height: 300px;
    }
    .header__row {
        padding: 0 16px;
    } 

    .row {
        padding: 0 28px;
    }

    .header__btns {
        display: none;
    }

    .share__container {
        flex-direction: column;
    }

    .share__text {
        margin-bottom: 12px;
    }
    .share__container br {
        display: none;
    }

    .body__title {
        font-size: 20px;
    }
    .body__details {
        font-size: 16px;
    }
    .body__para,
    .body__list-item  {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: .02em;
    }


}


@media (max-width: 420px) {

    
    .nav__link {
        font-size: 12px;
    }

    .header__row {
        padding: 0 12px;
    }

    .header__info {
        padding: 20px 36px;
    }
    
    .header__info,
    .header__img {
        min-height: 200px;
    }
    .header__para {
        max-height: 120px;
        margin-bottom: 20px;
        overflow-y: hidden;
    }

    .header__title {
        font-size: 24px;
        margin-left: 4px;
    }

    .personal__logo-img {
        height: 32px;
        width: 32px;
    }

    .search-bar {
        height: 28px;
        font-size: 12px;
    }

    .search__btn {
        font-size: 8px;
    }

    .share__container {
        padding: 0;
    }
    .body__description {
        padding: 20px 0; 
    }
    .body__posts {
        justify-content: center;
    }

    .post__more {
        padding: 8px 0;
        font-size: 12px;
    }

}


@media (max-width: 360px) {
    .nav__link {
        padding: 0 8px;
    }

    .header__info,
    .header__img {
        max-height: 220px;
    }

    .row {
        padding: 0 16px;
    }

}




/*===========================================*/

                 /* PAGE 2 */                   

/*===========================================*/



.site__title--wrapper2 {
    display: flex;
}

.logo__img2 {
    height: 24px;
    width: 24px;
    /* filter: grayscale(.1); */
}
.site__title2 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.04em;
    color: white;
    text-shadow: #000000 1px 1px ;

}

.social__links {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: white;

}

.social__links .icon__border {
    padding: 4px 6px;
    margin-left: 4px;
}

.languages__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    /* min-width: 60px; */
}


.languages {
    display: flex;
}

.language {
    padding: 0 8px;
}

.language__tag {
    min-width: 80px;
    font-weight: 600;
}

.language:first-child {
    background-color: #823af7;
    border-radius: 4px 0 0 4px;
    font-weight: 600;
}

.language:last-child {
    border-radius: 0 4px 4px 0;
    background-color: #6c6b70;
    color: white;
}

.fa-comments {
    margin-top: 4px;
}

.communitylink__container {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__btn {
    background-color: #ac7ff5;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    color: #000;
    font-weight: 700;
    transition: background-color 300ms ease;
}

/*

CONTENTS

*/

.contents__container {
    padding: 40px 0;
}

.contents__row {
    padding: 0 20px;
    background-color: #2523473d;
    display: flex;
}

.contents__title {
    font-size: 28px;
    font-weight: 700;
    padding: 12px 0;
}

.contents__box {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.contents__first-4 {
    display: flex;
}

.contents {
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 8px 4px;
}
.content__img {
    width: 100%;
}

.content__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    /* width: 160px; */
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.content__title {
    font-size: 14px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 0 0 8px 8px;
    background-color: #2523473d;
}

.content__top-10 {
    width: 25%;
}